.title Добавить текст на главную 
=content_for :links do
 p=link_to "Назад", admin_path
 br
 p=link_to "Сохранить", "#", onclick: "$('form').submit()"  
=form_for @main do |f|  
 .field
  =f.label :description
  =f.cktext_area :description,  cols: 20, ckeditor:  {language: "ru"} 
