h1= @title
= form_for :sessions, url: {action: 'create'} do |f|   
 = f.text_field :login, label: "Логин"
 = f.password_field :password, label: "Пароль"
 = f.submit "Войти", id: 'submit_form'
  
=link_to 'Зарегистрироваться', new_user_account_path
 