td 
 .field
  =f.label :phone
  =f.text_field :phone
  span *
 .field
  =f.label :name
  =f.text_field :name
  span *
 .field
  =f.label :sename
  =f.text_field :sename  
 .field
  =f.label :email
  =f.text_field :email  
 .field
  =f.label :sex
  =f.radio_button :sex, 1, checked: true
  =label_tag :client_request_sex_0, 'М', class: "check_radio_box_labels"
  =f.radio_button :sex, 2
  =label_tag :client_request_sex_1, 'Ж', class: "check_radio_box_labels"
td
 .field
  =f.label :offer_type 
  =f.radio_button :offer_type, 0, checked: true
  =label_tag :client_request_offer_type_0, 'Купить', class: "check_radio_box_labels"
  =f.radio_button :offer_type, 1
  =label_tag :client_request_offer_type_1, 'Снять', class: "check_radio_box_labels"
 .field
  =f.label :operator
  =f.select :operator, getOperator
 .field
  =f.label :access
  =f.select :access, getAccess
 .field
  =f.label :status
  =f.select :status, getClientRequestWitoutObject
 .field
  =f.label :agent
  =f.radio_button :agent, 0, checked: true
  =label_tag :client_request_agent_0, 'Нет', class: "check_radio_box_labels"
  =f.radio_button :agent, 1
  =label_tag :client_request_agent_1, 'Да', class: "check_radio_box_labels"
 .field
  =f.label :financing
  =f.select :financing, getFinancing