p.block_head Параметры
.field  
 =label_tag :object_type, 'Тип недвижимости'
 =select_tag :object_type, options_for_select({'Жилая недвижимость' => 1, 'Коммерческая недвижимость' => 2}),{ data:{commerc: getTypeCommercString, lived: getTypeLivedString} }     
.field  
 =f.label :structure_type, id: 'type_name'
 =f.select :structure_type, getTypeLived
.field.type style='display: none;'  
 =label_tag :type, 'Тип'
 =select_tag :type, options_for_select({'Отдельностоящее здание' => 1, 'Часть здания' => 2})

/ .nesw
/  .line  
/   =f.check_box :nswe, {}, 'север',nil
/   span с
/  .line 
/   =f.check_box :nswe, {}, 'север-восток',nil
/   span св
/  .line 
/   =f.check_box :nswe, {}, 'восток',nil
/   span в
/  br
/  br  
/  .line
/   =f.check_box :nswe, {}, 'юго-восток',nil
/   span юв
/  .line 
/   =f.check_box :nswe, {}, 'юг',nil
/   span ю
/  .line 
/   =f.check_box :nswe, {}, 'юго-запад',nil
/   span юз
/  br
/  br
/  .line
/   =f.check_box :nswe, {}, 'запад',nil
/   span з
/  .line 
/   =f.check_box :nswe, {}, 'северо-запад',nil
/   span сз
 
.field.params
 =f.label :rooms_count
 =f.text_field :rooms_count,  style:"width: 50px;" 
.field.params.room.land.garage.dacha.single.half  
 =f.label :general_square, "Общая пл.", id: 'general_square_label'
 =f.text_field :general_square,  style:"width: 50px;"
 b&nbsp; м
 sup 2 
.field.params 
 =f.label :live_square, "Жилая пл.".html_safe
 =f.text_field :live_square,  style:"width: 50px;"
 b&nbsp; м
 sup 2  
.field.params 
 =f.label :kittchen_square, "Кухня".html_safe
 =f.text_field :kittchen_square,  style:"width: 50px;" 
 b&nbsp; м
 sup 2 
.field.params 
 =f.label :area_square, "Участок".html_safe
 =f.text_field :area_square,  style:"width: 50px;" 
 b&nbsp; м
 sup 2 
.field.params 
 =f.label :sanysel
 =f.select :sanysel, getSanysel, {prompt: 'Выберите'}
.field.params.room 
 =f.label :material
 =f.select :material, getMaterial, {prompt: 'Выберите'}
.field.params.room 
 =f.label :state
 =f.select :state, getState , {prompt: 'Выберите'}
.field.params 
 =f.label :new_old
 =f.select :new_old, getOwnerForm, {prompt: 'Выберите'}
.field.params.room.half 
 =f.label :floor
 =f.text_field :floor,  style:"width: 50px; margin-right: 50px;"  
 =f.label :all_floors,  style:"width: 10px"
 =f.text_field :all_floors,  style:"width: 50px; margin-left: 50px"
.field.params.land.single
 =f.label :owner_form
 =f.select :owner_form, {'Собственность' => 1, 'Аренда' => 2}, {prompt: 'Выберите'},  style:"margin-right: 50px;"  
.field.params.dacha  
 =f.label :land
 =f.text_field :land
.field.params 
 =f.check_box :balkon, {style: "width: 20px; margin-bottom: 7px;"}
 =f.label :balkon, style: "width: 100px;"
 =f.check_box :lodjiya, {style: "width: 20px; margin-bottom: 7px;"}
 =f.label :lodjiya, style: "width: 100px;"
 =f.check_box :parking, {style: "width: 20px; margin-bottom: 7px;"}
 =f.label :parking, style: "width: 100px;"
 br
 =f.check_box :garage, {style: "width: 20px; margin-bottom: 7px;"}
 =f.label :garage, style: "width: 100px;"
 =f.check_box :lift, {style: "width: 20px; margin-bottom: 7px;"}
 =f.label :lift, style: "width: 100px;"
 =f.check_box :phone_line,  {style: "width: 20px; margin-bottom: 7px;"}
 =f.label :phone_line, style: "width: 100px;"
.field.single.half.commerc
 =f.label :line, 'Линия' 
 =f.text_field :line
.field.single.commerc
 =f.label :buildings_count, 'Количество зданий на участке' 
 =f.text_field :buildings_count, style: "width: 50px;"
p.block_head Фото
.field
 .image
  -if @sale_object.photos.any?
   -@sale_object.photos.land do |photo|
    =link_to (image_tag "/sale_objects/#{@sale_object.id.to_s}/small_#{photo.photo}", title: "Удалить"), {action: :photo_delete, file_id: photo.id}, confirm: "Удалить эту фотографию?" unless photo.photo.blank?
 / =f.fields_for :photos, @sale_object.photos, multipart: true do |photo_form| 
 /  =photo_form.file_field :photo, multiple: true 
 /  =photo_form.hidden_field :photo_cache 
 =f.file_field :photo1, multiple: true     
 =f.file_field :photo2, multiple: true     
 =f.file_field :photo3, multiple: true     
 =f.file_field :photo4, multiple: true     
 =f.file_field :photo5, multiple: true     
 =f.file_field :photo6, multiple: true     
 =f.file_field :photo7, multiple: true     
 =f.file_field :photo8, multiple: true     
 =f.file_field :photo9, multiple: true     
 =f.file_field :photo10, multiple: true     
p.block_head Описание
.field 
 =f.label :description
 =f.text_area :description, cols: 50, rows: 5
.field 
 =f.label :agreement
 =f.check_box :agreement, {style: "width: 20px; margin-bottom: 7px;"} 

 coffee:
  #$(document).on 'page:load ready', ->
   
  $(document).on 'change', '#object_type', ->
   lived = $(@).data('lived')
   commerc = $(@).data('commerc')
   lived = lived.split(',')
   commerc = commerc.split(',')

   select = $('#sale_object_structure_type')
   $("#type option:first").attr('selected',true);
   if @.value == '2'
    select.html('')
    $('.type').show()
    $('.params').hide();
    $('#type_name').text('Назначение')
    $('.single').show()
    $('#general_square_label').text('Земельный участок: площадь')
    $(commerc).each (i, v) -> 
     select.append($("<option>", { value: v, html: v }));  
   else     
    select.html('')
    $('.params').show();
    $('.commerc').hide();
    $('.type').hide()
    $('#type_name').text('Тип')
    $('#general_square_label').text('Общая пл.')
    $(lived).each (i, v) -> 
     select.append($("<option>", { value: v, html: v }));
  $(document).on 'change', '#sale_object_structure_type', -> 
   if $('#object_type').val() == '1'
    $('.params').hide()
    switch @.value 
     when 'Комнаты' then $('.room').show()
     when 'Зем. участки' then $('.land').show()
     when 'Гаражи' then $('.garage').show()
     when 'Дачи' then $('.dacha').show()
     else $('.params').show()
  $(document).on 'change', '#type', ->   
   if @.value == '1'
    $('.half').hide()
    $('.single').show()
    $('#general_square_label').text('Земельный участок: площадь')
   if @.value == '2' 
    $('.single').hide()
    $('.half').show() 

