.count="Объектов найдено: #{@count}"
table.sale_object_index
 tr
  th № 
  th Адрес
  th Дата
  th Тип
  th Комнат
  th Статус
  th Цена
  th Фото
  th Риелтор
  th Гор. предл.
  -i = 0
 -@sale_objects.each do |record|
  tr bgcolor="#{record.agreement.zero? ? '' : '#EFC2C2'}"
   td= i +=1
   td.name= link_to getAdressString(record), edit_sale_object_path(record)
   td= record.created_at.strftime("%d.%m.%Y")
   td= record.structure_type
   td= record.rooms_count
   td= getStatusName record.status
   td= number_to_currency record.price if record.hide_price.zero?
   td 
   td= "#{record.personal.sename} #{record.personal.name}" unless record.personal.nil?  
   / # td= check_box_tag :hot_offer,record.id, record.hot_offer
   -if record.hot_offer.zero?
    td= image_tag 'unhot.png', title: "Не горячее предложение", class: 'hot', data: {id: record.id, val: 1}
   -unless record.hot_offer.zero? 
    td= image_tag 'hot.png', title: "Горячее предложение", class: 'hot', data: {id: record.id, val: 0}