.count="Объектов найдено: #{@count}"
table.sale_object_index
 tr
  th № 
  th Адрес
  th Дата начала
  th Тип  
  th Статус
  th Цена начальная
  th Цена конечная  
  th Риелтор  
  -i = 0
 -@sale_objects.each do |record|
  tr bgcolor="#{record.agreement.zero? ? '' : '#EFC2C2'}"
   td= i +=1
   td.name= link_to getAdressString(record), edit_sale_object_path(record)
   td= record.begin_contract.strftime("%d.%m.%Y")
   td= record.structure_type   
   td= getStatusName record.status
   td= number_to_currency record.price if record.hide_price.zero?
   td= number_to_currency record.finaly_price if record.hide_price.zero? 
   td= "#{record.personal.sename} #{record.personal.name}" unless record.personal.nil?  
   