-content_for :links do
  p=link_to 'Назад', sale_objects_path  
  br
  p=link_to "Сохранить", "#", onclick:"$('form').submit()"
  p=link_to 'Удалить', {action: :destroy}, confirm: "Удалить объект", method: :delete
  p=link_to "Аванс", avans_sale_object_path, method: 'patch' unless @sale_object.avans
  p=link_to "Продано", sold_sale_object_path, method: 'patch' unless @sale_object.sold
  p=link_to "Истек срок договора", expired_sale_object_path, method: 'patch' unless @sale_object.expired
    
.title Редактировать объект
-unless @sale_object.avans.zero?
 .avans Объект под авансом
-unless @sale_object.sold.zero?
 .sold Объект продан 
-unless @sale_object.expired.zero?
 .expired Истек срок договора
=render 'error_messages' 
=form_for @sale_object, :html => {:multipart => true} do |f|   
 table.sale_object class="table"
  tr
   td    
    =render partial: "block_left", locals: {f: f}
   td    
    =render partial: "block_right", locals: { f: f }  