=content_for :links do
 p=link_to 'Назад', admin_path
 br
 p=link_to "Добавить объект", new_sale_object_path 
 br
 / p=link_to "Текущие объекты", sale_objects_path(status: 3), id: "current_objects"
 / p=link_to "Под авансом", sale_objects_path(status: 5), id: "presentation"
 / p=link_to "Бывшие объекты", sale_objects_path(status: 7), id: "olds_objects"
 / p=link_to "Все объекты", sale_objects_path(status: 0), id: "all_objects"
.title Создание и редактирование объектов
#find_sale_object
 p#find_link Найти
 =form_for :filter, url: {action: :filter} do |f|
  .field
   =f.label :from, "С:", style: "font-size: 14px;font-weight: bold; width: 65px;display: inline-block; "
   =f.date_field :from, style: "width: 140px;"
 
   =f.label :to, "По:", style: "font-size: 14px;font-weight: bold; width: 65px;display: inline-block; margin-left: 55px;"
   =f.date_field :to,  style: "width: 140px;" 
  .field
   =f.label :structure_type, "Тип", style: "font-size: 14px;font-weight: bold; width: 65px;display: inline-block;"
   =f.select :structure_type, getType, {prompt: "Все"},  style: "width: 170px;"    
  
   =f.label :status, "Статус", style: "font-size: 14px;font-weight: bold; width: 65px;display: inline-block; margin-left: 24px;" 
   =f.select :status, getStatus,  {prompt: "Все"},  style: "width: 170px;" 
  .field
   =f.label :rooms_count, "Комнат", style: "font-size: 14px;font-weight: bold; width: 65px;display: inline-block;" 
   =f.select :rooms_count, [1,2,3,4,5], {prompt: "Все"},  style: "width: 70px;"

   =f.label :street, "Улица", style: "font-size: 14px;font-weight: bold; width: 65px;display: inline-block; margin-left: 124px;" 
   =f.select :street, @streets || [], {prompt: "Все"},  style: "width: 320px;"   
  .submit
   =f.submit "Найти"

-if @sale_objects.take.status == 6 
 =render 'sold_arenda' 
-else  
 =render 'other_status'