-content_for :links do
 p=link_to 'Назад', sale_objects_path
 br
 p=link_to "Сохранить", "#", onclick:"$('form').submit()"
 
.title Добавить объект
=render 'error_messages'
=form_for @sale_object, :html => {:multipart => true} do |f|  
 table.sale_object class="table"
  tr
   td    
    =render partial: "block_left", locals: {f: f}
   td    
    =render partial: "block_right", locals: { f: f }
 