=content_for :links do
 p=link_to "Назад", admin_path
 br
 p=link_to "Добавить", new_personal_path
 br 
 p=link_to "Нынешние сотрудники", personals_path(status: 1), id: "current"
 p=link_to "Бывшие сотрудники", personals_path(status: 3), id: "olds"
 p=link_to "Все сотрудники", personals_path(status: 0), id: "all"
.title Сотрудники 
table.personal_index 
 tr.block_head
  th №
  th ФИО
  th Должность
  th Статус
  th Курс  
  th Деиствие
  th Онлайн
 -i = 0 
 -@personals.each do |persona|
  tr
   td=i+=1
   td="#{persona.sename} #{persona.name}"
   td=getPositionName persona.position
   td=getJobStatusName persona.status
   td=persona.begining_kurs.strftime("%d.%m.%Y") unless persona.begining_kurs.blank?
   td
    =link_to " #{pen}".html_safe, edit_personal_path(persona)
    =link_to " #{delete}".html_safe, persona, method: :delete, confirm: "Удалить сотрудника"
   td offline
 