.title= "#{@answer.question.name} спрашивает:"
h4= @answer.question.question 
p.answer_contacts= "Телефон:&nbsp; #{@answer.question.phone unless @answer.question.phone.blank?}".html_safe
p.answer_contacts= "Email:&nbsp; #{mail_to @answer.question.email}".html_safe
=content_for :links do
 p=link_to "Назад", answers_path(type: 2)
 br
 p=link_to "Сохранить", "#", onclick: "$('form').submit()"  
 
=form_for @answer do |f|   
 .field
  =f.fields_for :question do |q|
   =q.check_box :is_public, style: "float: left; margin-right: 10px;"
   =q.label :is_public, 'Опубликованно'
   =q.hidden_field :email, value: @answer.question.email 
  =f.label :answer
  =f.cktext_area :answer,  cols: 20, ckeditor:  {language: "ru"} 
  