.title Вопрос-ответ
=content_for :links do
 p=link_to "Назад", admin_path
 br
 p=link_to "Без ответов", answers_path(type: 1), id: "without_answers"
 p=link_to "С ответами", answers_path(type: 2), id: "with_answers" 
 p=link_to "Все", answers_path(type: 3), id: "all_answers"
.questions_list
 ul style="list-style: decimal"
  -@questions.each do |question|
  -case params[:type].to_i
   -when 1
    -if question.answer.nil?
     li
      =link_to question.question, new_answer_path(id: question)
      span       
       =link_to " #{delete}".html_safe, answer_path(question.id), method: :delete, confirm: "Удалить вопрос?"
   -when 2
    -unless question.answer.nil?
     li
      =link_to question.question, edit_answer_path(question.answer) 
      span       
       =link_to " #{delete}".html_safe, answer_path(question.id), method: :delete, confirm: "Удалить вопрос?"
   -when 3     
     li
      =link_to question.question, new_answer_path(id: question) if question.answer.nil?
      =link_to question.question, edit_answer_path(question.answer) unless question.answer.nil?
      span       
       =link_to " #{delete}".html_safe, answer_path(question.id), method: :delete, confirm: "Удалить вопрос?"
   -else
    -if question.answer.nil?
     li
      =link_to question.question, new_answer_path(id: question)
      span       
       =link_to " #{delete}".html_safe, answer_path(question.id), method: :delete, confirm: "Удалить вопрос?"