.new
 .image
  =image_tag news.image_url unless news.image_url.nil?
 .desc
  .title=link_to news.title, news_on_site_path(news)
  .nanons=news.anons.html_safe
  .date= "#{pen} #{Russian::strftime(news.created_at,"%d %B, %Y")}".html_safe
  .read_more=link_to "подробнее", news_on_site_path(news)
 