.title Новости
=content_for :links do
 p=link_to "Назад", admin_path
 br
 p=link_to "Добавить", new_news_on_site_path
-i = 0
ul class="admin_news_index"
 -@news.each do |item|  
  li
   .line
    b=i += 1
    |.&nbsp;      
    =link_to item.title, edit_news_on_site_path(item)
   .actions
    span
     = link_to " #{image_tag 'unhot.png'}".html_safe, public_news_on_site_path(item,status: 1) if item.is_public==0
     = link_to " #{image_tag 'hot.png'}".html_safe, public_news_on_site_path(item,status: 0) if item.is_public==1
    span
     = link_to " #{delete}".html_safe,item, method: :delete, confirm: "Удалить?"