=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .current_page= @franshisa.nil? ? "" : @franshisa.title.mb_chars.downcase
.left_block
 .franshisa 
  .title= @franshisa.nil? ? "" : @franshisa.title
  .desc= @franshisa.nil? ? "" : @franshisa.description.html_safe 