=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .current_page= @franchasing.nil? ? "" : @franchasing.title.mb_chars.downcase
.left_block
 .franchasing 
  .title= @franchasing.nil? ? "" : @franchasing.title
  .desc= @franchasing.nil? ? "" : @franchasing.description.html_safe 