-content_for :links do
 p=link_to 'Назад', top_banners_path
 br
 p=link_to "Обновить", "#", onclick:"$('form').submit()" 
 p=link_to "Удалить", @top_banner, method: :delete, data:{confirm: "Удалить этот баннер?"}
.title Добавить банер
.top_banners
 .edit
  =form_for @top_banner do |f|
   .field
    =f.label :title, "Заголовок"
    =f.text_field :title
   .field
    =f.label :banner, "Файл"
    =image_tag(@top_banner.banner_url) if @top_banner.banner? 
    br
    br
    =f.file_field :banner
    =f.hidden_field :banner_cache
   .field
    =f.label :page_url, "Ссылка на страничку"
    =f.select :page_url, all_pages_url || []
   .field
    =f.check_box :is_public
    =f.label :is_public, "Показать на сайте"
    