-content_for :links do
 p=link_to 'Назад', top_banners_path
 br
 p=link_to "Сохранить", "#", onclick:"$('form').submit()" 
.title Добавить банер
.top_banners
 .new
  =form_for @top_banner do |f|
   .field
    =f.label :title, "Заголовок"
    =f.text_field :title
   .field
    =f.label :banner, "Файл"
    =f.file_field :banner
   .field
    =f.label :page_url, "Ссылка на страничку"
    =f.select :page_url, all_pages_url || []
   .field
    =f.check_box :is_public
    =f.label :is_public, "Показать на сайте"
    