.title= "Добавить районы для #{@region.name}"
=content_for :links do
 p=link_to "Назад", edit_region_path(@region.id)
 
 p=link_to "Сохранить", "#", onclick: "$('form').submit()"  
 
 p=link_to "Регионы", regions_path
-if @region.districts.any?
 ul style="list-style: decimal"
  -@region.districts.each do |district|  
   li=link_to district.name, edit_district_path(district)
=form_for @district do |f| 
 .field
  =f.label :name, "Название"
  =f.text_field :name, style:"width: 40%"
  =f.hidden_field :region_id, value: @region.id