DOCTYPE html
html
 head
  meta content='text/html; charset=UTF-8' http-equiv='Content-Type'  
 body
  h2= "Новое сообщение от #{@user} было добавлено на сайт"
  p
   = "Пользователь #{@user} задал вопрос."
   br
   =link_to "Ответить", @link
   