.about
	{
		.title
		{
		color: #299A40;
		font-family: Arial;
		font-size: 20px;
		margin-bottom: 9px;
		padding-bottom: 0;
		}
		.desc{
			p{
				font: 14px/24px 'Arial';
				color: #606060;
			}
		}
	}
#cke_about_description
{
	width: 95%;
}