/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope. 
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

input[type=text] { height: 22px; }
input[type=number] { height: 33px; }
input[type=tel] {  height: 33px; }
input[type=date] { height: 33px; }
input[type=email] {  height: 33px; }
input[type=password] { height: 33px; }
select
{
	background-color: #fff;
	height: 33px;
	border-radius: 3;
	padding-left: 5px;
}


*
{
  outline: none;
}

.header
{
	/*width: 100%;	*/
	border-bottom: 9px solid #00923F;
	height: 125px;
	padding-left: 15%;
	margin-bottom: 40px;
	img
	{
		vertical-align: top;
	}
	#top_title
	{
		padding-top: 20px;
		padding-left: 15px;
	}
	.header_text
	{
		display: inline-block;
		width: 250px;		
		color: #00b850;
		font-size: 12px;
		margin-top: 30px;
		margin-left: 120px;
		line-height: 17px;
		a
		{
			font-size: 12px;
			color:#005B27;
			text-decoration: underline;
		}

	}
}
.left_menu
{
	float: left;	
	margin-left: 16%;			
	width: 180px;
	margin-top: 30px;
	a
	{
		font-size: 12px;
		color:#005B27;
		text-decoration: underline;
	}
	p
	{
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
.content
{
	margin-left: 30%;
	border-left: 1px solid #85AD96;
	padding-left: 22px;
	a
	{
		color:#005B27;
		text-decoration: underline;
	}
} 
.footer_admin
{
	position: relative;
  background: url(asset-path("footerBg.png")) no-repeat scroll 0 0 transparent;
  height: 140px;
  margin-left: 195px;
  margin-top: 15px;
  padding-left: 125px;
  padding-top: 45px;
}
.radio
{
	padding-right: 10px;
	padding-top: 0;
}
.price
{
	width: 30px;
}
.clear
{
	clear: both;
}
