.contacts
{
	font-family: Arial;
	.title
	{
		color: #808080;
		font-size: 18px;
		margin-top: 18px;
		padding-bottom: 30px;
	}
	.adress_block
	{
		float: left;
		width: 265px;
		h3
		{
			color: #00923F;
			font-size: 18px;
			font-weight: normal;
			line-height: 23px;
			margin-bottom: 11px;
			margin-top: 0;
		}
		p
		{
			color: #01903E;
			margin-bottom: 19px;
		}
		.phone
		{
			color: #363636;
			font: 30px "Georgia";
			margin-bottom: 31px;
			span
			{
				color: #299a3f;
				font-size: 24px;
			}
		}
		.title.rezhim{
			padding-bottom: 5px;
		}
	}
	.map_block
	{
		float: right;
	}
	.personals
	{
		margin-top: 48px;
		.title{
			padding-bottom: 6px;
		}
		.line_1,
		.line_2,
		.line_3,
		.line_4
		{
			height: 216px;
			overflow: hidden;
			width: 100%;		 
		}
		.cabinet_name
			{
			border-bottom: 1px solid #299A3F;
			margin-bottom: 40px;
			position: relative;
			text-align: center;	
				span{
					background: none repeat scroll 0 0 #FFFFFF;
					bottom: -11px;
					color: #299A3F;
					font: italic 19px "Georgia";
					padding: 0 45px;
					position: relative;						
					}
			}		
		
		
			/*scroller*/

			.scroll-wrap {
				margin-top: 40px;
				margin-bottom: 55px;
				position: relative;
				width: 1000px;
				
				.prod-right, .prod-left {
					background-image: url(asset-path("sc-arrows.png"));
					background-repeat: no-repeat;
					height: 12px;
					position: absolute;
					top: 40px;
					width: 8px;
					
					display: none;
				}			
				.prod-right {
					background-position: 0 bottom;
					right: 15px;
				}

				.prod-left {
					background-position: -8px bottom ;
					left: 0;
				}	
				
				.scroll-inner {
					left: 0px;
					overflow: hidden;
					position: relative;
					width: 1000px;
					height: 120px;
				}
				#sotr1,
				#sotr2,
				#sotr3,
				#sotr4{
					left: 0;
					position: absolute;
					top: 0;
					width: 9999px;
				}	

				.persona
				{
					float: left;
					height: 140px;
					width: 96px;
					cursor: pointer;
					margin-right: 30px;
					.avatar
					{
						width: 96px;
						height: 89px;		
						// overflow: hidden;	
						position: relative;	
						margin-bottom: 10px;
						background: #e9e9e9;
						.avatar_brd{
							background: url(asset-path('sc-border.png')) 0 0 no-repeat;
							display: none;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;							
							
						}
							img{
								}
						.birthday
						{
							position: relative;
							top: 50px;
							right: 10px;
							// bottom: 45px;
							// left: 50px;
						}				
					}
					.fio
					{
						text-align: center;
						color: #6d6d6d;
					}
					
					&:hover
					{
						
						.avatar_brd
						{
							display: block;					
						}
						.fio
						{
							color: #299a3f;
						}	
					}

				}
				
			}



			.scroll-wrap.hasArrows {
				.prod-right, .prod-left {
					display: block;
				}			
			
				.prod-right.canmove {
					background-position: 0 0px;
					cursor: pointer;
				}			
				.prod-left.canmove {
				background-position: -8px 0;
				cursor: pointer;
				}
				.scroll-inner {
					left: 20px;
					overflow: hidden;
					position: relative;
					width: 946px;
					height: 120px;
				}

				.persona
				{
					margin-right: 25px;
				}				
			}
			
	}
	.personal_detail
  {
    display: none;
    position: absolute;
    left: 200px;
    width: 510px;   
	padding: 40px 45px 50px;
		border-radius: 3px 3px 3px 3px;
		-moz-border-radius: 3px 3px 3px 3px;
		-webkit-border-radius: 3px 3px 3px 3px;
		-o-border-radius: 3px 3px 3px 3px;
	
	
    background: #fff;
    box-shadow: 0 0 100px #ccc;
    -moz-box-shadow: 0 0 100px #ccc;
    -webkit-box-shadow: 0 0 100px #ccc;
    -o-box-shadow: 0 0 100px #ccc;
    -ms-box-shadow: 0 0 100px #ccc;
    z-index: 1;
	height: auto;
	overflow: hidden;
	
		#close
		{
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
		}
    .avatar
    {
	   background: url(asset-path("PDavatar.png")) no-repeat scroll 0 0 transparent;
		float: left;
		height: 144px;
		overflow: hidden;
		padding: 3px 3px 2px;
		position: relative;
		width: 142px;
		z-index: 2;
		 img
		{
		 position: relative;
			width: 142px;
			z-index: 1;
			height: 144px;
		}    
    }
    .informations
    {
		margin-left: 57px;
		float: left;
		width: 305px;
		font-family: "Arial";
		.fio
      {
		   color: #299A3F;
			font-size: 20px;
			margin-bottom: 9px;
			margin-top: 7px;
      }
      .position
      {
        color: #878787;
        font-size: 16px;
        margin-bottom: 33px;
      }
      .birthday
      {
      	margin-bottom: 10px;
      	color: #EE6A50;
      }
      .phone
      {
		color: #2C2C2C;
		font-size: 16px;
		margin-bottom: 12px;
		padding-left: 28px;
	   background: url(asset-path("PDcont.png")) no-repeat scroll 0 0 transparent;		
      }
      .email
      {
        font-size: 16px;
        text-decoration: underline;
        color: #2c2c2c;
		padding-left: 28px;		
	   background: url(asset-path("PDcont.png")) no-repeat scroll 0 -30px transparent;		
      }
    }
  }
}