.result
{
	width: 890px;	
	th
	{				
		color: #D6EB00;		
		font-weight: normal;				
		border: 1px inset #4F4F4F;

		text-align: center;
		// border-style: solid;
		// border-width: 1px;
		// border-color:  white silver	


	}
	td
	{
		font-size: 14px;
		border: 1px inset #4F4F4F;
		text-align: center;
		background: #fff;					
	}

	.head
	{
		color: #D6EB00;		
		font-weight: normal;						
		text-align: center;	
	}
	.vertical
		{
			height: 100px;
			-moz-transform: rotate(270deg);
    	-webkit-transform: rotate(270deg);
    	-o-transform: rotate(270deg);
    	writing-mode: tb-rl;
    	font-weight: bold;
    	font-size: 14px;
    	width: inherit;
    	padding: 0;
    	margin: 0;
		}
		background: #008000;	

}
.filter
{
	form
	{
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		background: #008000;
		color: #D6EB00;
		a
		{
			color: #008000;
			padding: 5px;
			background: #D6EB00;
			border-radius: 5px;
			text-decoration: none;
		}
	}
}