.hot_offer
	{
		margin-top: 10px;
		.offers_title
		{
			background: url(asset-path("hotOff.png")) no-repeat scroll 0 top transparent;
			height: 22px;
			margin-bottom: 35px;
			text-align: left;

		}
		.offer
		{
		   // float: left;
		  display: inline-block;
			margin-left: 35px;
			margin-bottom: 30px;
			vertical-align: top;
			width: 197px;

			img
			{
				width: 100%;
				height: 150px;
			}
			.offer_title
			{
				color: #FE5957;
				font-size: 18px;
				padding-bottom: 0;
				text-align: center;

			}
			.desc
			{
				color: #959595;
				font-size: 12px;
			}
		}
		.offer:first-child
		{
			margin-left: 0;
		}
	}