#htdg 
{
	// position:absolute;
	// right:115px;
	// bottom:0;
	// width:50px;
	// height:20px;
	// cursor:help;
	img
	{
		width:50px;
		height:20px;
		padding:0;	
	}

}
.about_htdg 
{
	position:relative;
	display:none;
	right:0;
	bottom:173px;
	width:444px;
	height:154px;
	margin:0px;
	padding:0px;
	background:url(asset-path('about_htdg.png'));
	font-family:'Tahoma';
	color: #fff;
	z-index:3000;
}
#a_bg 
{
	img 
	{
		position:absolute;
		top:0px;
		left:0px;
		padding:0;
		padding:0;
		background:url(asset-path('about_htdg.png'));
		-background:none;
		-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=http://spar-volga.ru/templates/spar/images/about_htdg.png,sizingMethod=crop);	
	}
}
#a_htdg 
{
	position:absolute;
	right:28px;
	top:20px;
	z-index:4000;
	a,a:link,a:visited
	{
		font:11px 'Tahoma';
		color:#fff;
		text-decoration:underline;
		&:hover 
		{
			text-decoration:none;
		}
	}	
}
#a_passport 
{
	position:absolute;
	top:51px;
	right:242px;
	font-size:12px;
	font-weight:bold;
}
#a_infoz 
{
	position:absolute;
	top:81px;
	right:242px;
	text-align:right;
	font-size:9px;
	line-height:10px;
}
#a_infor 
{
	position:absolute;
	top:81px;
	right:27px;
	font-size:9px;
	line-height:10px;
	a,a:link,a:visited 
	{
		font:9px 'Tahoma';
		color:#fff;
		text-decoration:none;
		&:hover 
		{
			text-decoration:underline;
		}
	}
} 
#a_htdg, #a_passport, #a_infoz, #a_infor 
{
	z-index: 5000;

}