.news_page
{
	font-family: Arial;
	width: 695px;
	.new
	{		
	   border-bottom: 1px solid #299a40;
		clear: both;
		float: none;
		height: auto;
		margin-bottom: 32px;
		overflow: hidden;
		padding-bottom: 20px;		
		.image
		{
		   border-radius: 2px 2px 2px 2px;
		   -moz-border-radius: 2px 2px 2px 2px;
		   -webkit-border-radius: 2px 2px 2px 2px;
		   -o-border-radius: 2px 2px 2px 2px;
		   -ms-border-radius: 2px 2px 2px 2px;
		   ms-border-radius: 2px 2px 2px 2px;
			float: left;
			height: 165px;
			overflow: hidden;
			vertical-align: middle;
			width: 220px;
			
			img{
				width: 220px;	
				height: 165px;
				
			}
		}	
		.desc
		{
				float: left;
				margin-left: 25px;
				margin-top: -4px;
				width: 450px;
			.title{
				padding-bottom: 7px;
			}	
				
			.title a
			{
				color: #299A40;
				font: 20px Arial;
				margin-bottom: 10px;
				padding-bottom: 0;
				text-decoration: none;
			}
			.title a:hover{
				color: #4ec737;
			}
			
			.nanons{
				color: #606060;
				font-size: 14px;	
				line-height: 23px;	
				/* height: 138px;*/
				overflow: hidden;	
				margin-bottom: 10px;	
			}
			.date
			{

				color: #A0A0A0;
				float: left;
				font-size: 14px;
				margin-top: 5px;
				text-transform: capitalize;
				img
				{
				 margin-bottom: 3px;
				 margin-right: 8px;
			  }
			}
			.read_more{
				float: right;
				a
				{
					background: url(asset-path("detals.png")) repeat scroll 0 0 transparent;
				   border-radius: 2px 2px 2px 2px;
				   -moz-border-radius: 2px 2px 2px 2px;
				   -webkit-border-radius: 2px 2px 2px 2px;
				   -o-border-radius: 2px 2px 2px 2px;
				   -ms-border-radius: 2px 2px 2px 2px;
				   ms-border-radius: 2px 2px 2px 2px;
					color: #FFFFFF;
					float: right;
					font: 15px Arial;
					padding: 6px 26px;
					text-decoration: none;
				}
				a:hover
				{
					opacity: 0.8;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
					filter: alpha(opacity=80);	
				}
				
			}		
		}

	}

	.see_all_news{	
		background: #8ECA5B;
		background: linear-gradient(#8ECA5B, #45B97D) repeat scroll 0 0 transparent;
		background: -moz-linear-gradient(#8ECA5B, #45B97D) repeat scroll 0 0 transparent;
		background: -webkit-linear-gradient(#8ECA5B, #45B97D) repeat scroll 0 0 transparent;
		background: -o-linear-gradient(#8ECA5B, #45B97D) repeat scroll 0 0 transparent;
		background: -ms-linear-gradient(#8ECA5B, #45B97D) repeat scroll 0 0 transparent;
		background: ms-linear-gradient(#8ECA5B, #45B97D) repeat scroll 0 0 transparent;
				   border-radius: 2px 2px 2px 2px;
				   -moz-border-radius: 2px 2px 2px 2px;
				   -webkit-border-radius: 2px 2px 2px 2px;
				   -o-border-radius: 2px 2px 2px 2px;
				   -ms-border-radius: 2px 2px 2px 2px;
				   ms-border-radius: 2px 2px 2px 2px;
		color: #FFFFFF;
		cursor: pointer;
		font: italic 18px/39px Georgia;
		height: 41px;
		text-align: center;
	}		
	.see_all_news:hover{
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);		
	}
		
}
.news_detail_page
{
	width: 695px;
	font-family: Arial;


	.desc
	{	
		.mainimg {
		   border-radius: 2px 2px 2px 2px;
		   -moz-border-radius: 2px 2px 2px 2px;
		   -webkit-border-radius: 2px 2px 2px 2px;
		   -o-border-radius: 2px 2px 2px 2px;
		   -ms-border-radius: 2px 2px 2px 2px;
		   ms-border-radius: 2px 2px 2px 2px;
			float: left;

			
		  img
		  {
		  	margin-bottom: 10px;
		  	margin-right: 25px;	
		  	float: left;
		  }
		  .text
		  {
  
  		}
  
		}		

		text-align: justify;
		.inf{
			float: right;
			margin-top: -2px;
			.title
			{
				color: #2D9540;
				float: left;
				font-size: 18px;
				margin-bottom: 10px;
				padding-bottom: 0;
				width: 550px;
				padding-right: 10px;
				text-align: left;
			}
		 .date
			{
				float: right;
				color: #a0a0a0;
				font-size: 14px;
				img
				{
				 margin-bottom: 3px;
				 margin-right: 8px;
			  }
		  }
		}
	font-family: Arial;

	p{
	 color: #606060;
    font: 14px/24px 'Arial';
	}		
		
	}
}
#cke_news_on_site_description
{
	width: 95%;
}
#cke_news_on_site_anons
{
	width: 95%;	
}
.admin_news_index
{
	overflow: hidden;
	list-style: none;
	li
	{	
		line-height: 23px;
		.line
		{	
			width: 690px;
			float: left;
		}
		.actions
		{
			float: left;
			span
			{
				font-size: 12px;
			
				a
				{
					color: #ccc;
					text-decoration: none;
	
					}
			}
		}
	}
	
	
}
.admin_news_edit 
{
	.image
	{
		// width: 350px;
		margin-bottom: 10px;
	}
}