.own_bisnes
{
	font-family: Arial;
	.title
	{
		color: #299A40;
		font-family: Arial;
		font-size: 20px;
		margin-bottom: 9px;
		padding-bottom: 0;
	}
	p{
	 color: #606060;
    font: 14px/24px 'Arial';
	}
}
#cke_bisnes_self_description
{
	width: 95%;
}