.prettyGalleryContainer {
	clear: both;
	float: left;
	width: 100%;
}
	
	.prettyGalleryContainer a:focus { outline: none; }

	.prettyGalleryContainer img { border: 0; }

	.prettyGalleryContainer ul {
		margin: 0;
		padding: 0;
	}

		.prettyGalleryContainer ul li {

			
		}

			.prettyGalleryContainer ul li a,
			.prettyGalleryContainer ul li  img { 
			display: block; 
			height: 86px;
			width: 86px;}
	.pg_paging{
		width: 489px !important;
		position: absolute;
		top: 38px;	
	}
	.prettyGalleryBackground {
		background: url(asset-path('content_background.png')) top left repeat;
		padding: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		margin: 0 0 10px 0;
	}

	.pp_alignleft { float: left; }
	.pp_alignright { float: right; }
	.pp_aligncenter { margin: 0 auto; }
	.pg_paging {width: 450px;}	
	.pg_paging .pg_previous {
		background: url(asset-path("sc-arrows.png")) no-repeat scroll right bottom transparent;
		height: 12px;
		overflow: hidden;
		position: absolute;
		text-indent: -10000px;
		top: 0;
		left: 0;
		width: 8px;
	}
		.pg_paging .pg_previous:hover { background-position: right top; }
		
	.pg_paging .pg_next {
		background: url(asset-path("sc-arrows.png")) no-repeat scroll left bottom transparent;
		height: 12px;
		overflow: hidden;
		position: absolute;
		text-indent: -10000px;
		top: 0;
		right: 0;
		width: 8px;
	}
		.pg_paging .pg_next:hover { background-position: left top; }
		
		.pg_paging li { text-align: center; }
		
		
	.pg_pages {
		background: url(pagingBackgroundLeft.png) top left no-repeat;
		float: left;
		padding-left: 8px;
	}
	
		.pg_pages ul {
			background: url(asset-path('pagingBackgroundRight.png')) top right no-repeat;
			float: left;
			height: 15px;
			padding-right: 9px;
		}
			.pg_pages ul li { 
			line-height: 15px; }
			
			.pg_pages ul li.selected { font-weight: bold; }
		
		.pg_pages a {
			color: #fff;
			font-family: Arial;
			font-size: 11px;
			text-decoration: none;
			padding: 2px;
		}
			.pg_pages a:hover { color: #c4c4c4; }
			
		.pg_pages a.circle {
			display: block;
			background: url(asset-path('pagingPageNumber.png')) top left no-repeat;
			height: 8px;
			margin: 3px 1px 0 3px;
			padding: 0;
			text-indent: -10000px;
			width: 8px;
		}
			.pg_pages a.circle:hover,
			.pg_pages .selected a.circle { background-position: bottom left; }
			
.prettyGalleryContainer .prettyGallery {
    clear: left;
    margin-left: 15px;
    overflow: hidden;
    position: relative;
    width: 460px;
	height: 86px;
}		

.prettyGalleryContainer .prettyGallery.no-arrows {
	margin-left: 0;
}

.prettyGalleryContainer		.prettyGallery li{
			margin-right: 15px;
			display: block;
			float: left;			
		}