.question_form
{
	background: url(asset-path("search_bg.png")) repeat scroll 0 0 transparent;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	ms-border-radius: 5px 5px 5px 5px;
    font: 14px Arial;
    padding: 35px 32px;
    width: 627px;
	form
	{
		margin-bottom: 5px;
	}		
	.block
	{		
		height: auto;
		overflow: hidden;
		clear: both;
		label
		{
			color: #FFFFFF;
			float: left;
			line-height: 35px;
			margin-bottom: 0;
			width: 95px;

		}
		input[type=text]
		{
			border: 2px solid #FFFFFF;
			color: #00923F;
			margin-bottom: 15px;
			margin-top: 2px;
			width: 245px;
			box-shadow: none;
			float: left;

		}	
		input[type=text]:focus
		{
			border: 2px solid #00923f;
		}		    
		textarea
		{
				box-shadow:  none;
			   border: 2px solid #FFFFFF;
				float: left;
				height: 172px;
				width: 480px;
				resize: none;
		}	
		span{
			float: left;
			font-size: 25px; 
			line-height: 50px;
			color: rgb(255, 255, 255); 
			margin-left: 8px; 
		}
		span.ta{
			line-height: 23px;
		}		
		span.ic{
			line-height: 74px;
		}		
	}	

	.submit
	{
	   background: url(asset-path("buttons_bg.png")) repeat-x scroll 0 bottom #FFFD00;
		border: medium none;
		border-radius: 2px 2px 2px 2px;
		-moz-border-radius: 2px 2px 2px 2px;
		-webkit-border-radius: 2px 2px 2px 2px;
		-o-border-radius: 2px 2px 2px 2px;
		-ms-border-radius: 2px 2px 2px 2px;
		ms-border-radius: 2px 2px 2px 2px;
		
		box-shadow: 0 0 2px #828282;
		-moz-box-shadow: 0 0 2px #828282;
		-webkit-box-shadow: 0 0 2px #828282;
		-o-box-shadow: 0 0 2px #828282;
		-ms-box-shadow: 0 0 2px #828282;
		ms-box-shadow: 0 0 2px #828282;
		
		color: #3A8B2E;
		font-family: georgia;
		font-size: 18px;
		font-style: italic;
		height: 38px;
		margin-left: 97px;
		margin-top: 8px;
		text-shadow: 1px 0 1px #FFFFFF;
		width: 247px;
	}
	.simple_captcha .simple_captcha_field, .simple_captcha .simple_captcha_image {
		border: 0 none;
		margin: 0;
		padding: 0;
	}
	
	.simple_captcha {
		border: 0 none;
		display: block;
		float: left;
		height: 45px;
		margin-left: 95px;
		margin-top: 15px;
		padding: 0 !important;
		position: relative;
		width: 482px;
	}
	.simple_captcha_label {
		color: #FFFFFF;
		display: block;
		font-size: 14px !important;
		left: 0;
		line-height: 18px;
		position: absolute;
		text-align: left;
		top: 0;
		width: 200px;
	}	
	.simple_captcha_image{
			border: 0 none;
			height: 45px;
			left: 212px;
			position: absolute;
			top: -4px;
			width: 100px;

			img{
			width: 100px !important;
			height: 45px;			
			border: 0 none;
			}
	}
	.simple_captcha_field{
			background: url(asset-path("whiteArrowh.png")) no-repeat scroll 0 10px transparent;
			display: block;
			padding-left: 25px !important;
			position: absolute;
			right: 3px;

		input{
			width: 128px !important;
			background: #ffffff;
			font-size: 14px;
			margin-bottom: 0 !important;
		}
	}
	
	#recaptcha_widget_div
	{
		text-align: center;

	}
}
.questions
{
   font-family: Arial;
    margin-top: 32px;
    width: 693px;
	height: 720px;
	overflow: hidden;
	h4{
		color: #444444;
		font: normal 22px/21px Arial;
		margin-top: 0;
		margin-bottom: 23px;
	}
	.question_answer{
		clear: both;
		float: none;
		color: #888888;
		.question_wrap
		{
			background: linear-gradient( left, #45b97d, #b7d448);
			background: -moz-linear-gradient( left, #45b97d, #b7d448);
			background: -webkit-linear-gradient( left, #45b97d, #b7d448);
			background: -o-linear-gradient(left, #45b97d, #b7d448);
			background: -ms-linear-gradient(left, #45b97d, #b7d448);
			background: ms-linear-gradient(left, #45b97d, #b7d448);
	
			padding: 2px;
			margin-bottom: 27px;
			border-radius: 2px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			-o-border-radius: 2px;
			-ms-border-radius: 2px;
			ms-border-radius: 2px;
			

			.question   
			{
				background: #ffffff;
				height: auto;
				overflow: hidden;
				padding: 23px 26px;

			}  

		}
			.answer
					{
				  background: url(asset-path("arrow_right.png")) no-repeat scroll 30px 20px transparent;
					height: auto;
					margin-bottom: 20px;
					overflow: hidden;
					padding-left: 54px;

					}			
		.qavatar{
			padding: 4px;
			border: 1px solid #dddddd;
			float: left;
			margin-right: 14px;

			img
			{
			height: 48px;
			width: 48px;						
			}
		}
		.qtext
		{
			float: right;
			width: 565px;
				.qname{
					font-size: 13px;
					color: #010101;
					font-weight: bold;
				}
				.qdate{
				  font-size: 11px;
					line-height: 16px;
					margin-bottom: 10px;

				}
				p{
					margin-bottom: 10px;
				}
		}		
			
	}
	
		
}

	.see_all_questions{	
		background: #8ECA5B;
		background: linear-gradient(#8ECA5B, #45B97D) repeat scroll 0 0 transparent;
		background: -moz-linear-gradient(#8ECA5B, #45B97D) repeat scroll 0 0 transparent;
		background: -webkit-linear-gradient(#8ECA5B, #45B97D) repeat scroll 0 0 transparent;
		background: -o-linear-gradient(#8ECA5B, #45B97D) repeat scroll 0 0 transparent;
		background: -ms-linear-gradient(#8ECA5B, #45B97D) repeat scroll 0 0 transparent;
		background: ms-linear-gradient(#8ECA5B, #45B97D) repeat scroll 0 0 transparent;
				   border-radius: 2px 2px 2px 2px;
				   -moz-border-radius: 2px 2px 2px 2px;
				   -webkit-border-radius: 2px 2px 2px 2px;
				   -o-border-radius: 2px 2px 2px 2px;
				   -ms-border-radius: 2px 2px 2px 2px;
				   ms-border-radius: 2px 2px 2px 2px;
		color: #FFFFFF;
		cursor: pointer;
		font: italic 18px/39px Georgia;
		height: 41px;
		text-align: center;
	}	
	.see_all_questions:hover{
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);		
	}