.search_page
{
	// .type
	// {
	// 	border-radius: 1px 1px 1px 1px;
	// 	-moz-border-radius: 1px 1px 1px 1px;
	// 	-webkit-border-radius: 1px 1px 1px 1px;
	// 	-o-border-radius: 1px 1px 1px 1px;
		
	// 	box-shadow: 1px 0 0 #EEEEEE;
	// 	-moz-box-shadow: 1px 0 0 #EEEEEE;
	// 	-webkit-box-shadow: 1px 0 0 #EEEEEE;
	// 	-o-box-shadow: 1px 0 0 #EEEEEE;
	// 	font-style: italic;
	// 	margin-bottom: 23px;
	// 	margin-left: 127px;
	// 	margin-top: 53px;
	// 	position: relative;
	// 	width: 437px;	
	// 	height: auto;
	// 	overflow: hidden;
	// 	a
	// 	{
	// 		color: #299a3f !important;	
	// 		text-decoration: none;
	// 		font-size: 16px;
			
	// 		display: block;
	// 		height: 100%;
	// 		line-height: 30px;
	// 		text-decoration: none !important;
	// 		width: 100%;			
	// 	}
 //   .sale_but 
 //   {
	// border-top: 1px solid #C6C6C6;
	// border-left: 1px solid #C6C6C6;
	// border-bottom: 1px solid #C6C6C6;
	// height: 30px;
 //   	width: 145px;
	// float: left;
	// background: url(asset-path('detals.png')) no-repeat right bottom;
	// text-align: center;	
 //   }
 //   .arenda_but
 //   {

	// border-top: 1px solid #C6C6C6;
	// border-bottom: 1px solid #C6C6C6;
	// height: 30px;
 //   	width: 138px;
	// float: left;
	// background: url(asset-path('detals.png')) no-repeat right bottom;
	// text-align: center;
	
 //   }
 //   .avans_but
 //   {
	// border-top: 1px solid #C6C6C6;
	// border-right: 1px solid #C6C6C6;
	// border-bottom: 1px solid #C6C6C6;
	// height: 30px;
 //   	width: 152px;
	// float: left;
	// text-align: center;


 //   }
 //   .active
 //   {
 //   	background: url(asset-path('detals.png')) repeat-x;
	// 	a{
	// 		color: #007116 !important;
	// 		text-shadow: 1px 1px 1px #FFFFFF;
	// 	}

 //   }
 //  }
  table 
  {
    border: 0 none;
    width: 693px;
    margin-top: 30px;

	
  	th
  	{
	    border-left: 1px solid rgba(255, 255, 255, 0.5);
		color: #FFFFFF;
		font: 14px arial;
		height: 39px;
		text-align: center;
		
		span
		{
			border-bottom: 1px dashed;
		}
		.rooms_count
		{
			cursor: pointer;
		}
		
  	}
  	.descC
	{	
		background: url(asset-path("whiteArrow.png")) no-repeat scroll right -22px transparent;			
		// background-position-y: 20px;
		background-position-x: 65px;
	}
	.ascC
	{			
		background: url(asset-path("whiteArrow.png")) no-repeat scroll right 20px transparent;	
		// background-position-y: 20px;
		background-position-x: 65px;
	}
	  	th.num	{
		   border-left: 1px solid #45B97D;
			width: 39px;
		}	  	
		
		th.photo	{
			width: 51px;
		}	  	
		
		th.adrs	{
			width: 221px;
			cursor: pointer;
		}	  	
		
		th.tip	{
			width: 81px;
		}		
		th.kmnt	
		{
			width: 76px;
			span a{
				// background: url(asset-path("whiteArrow.png")) no-repeat scroll right 7px transparent;
				border-bottom: 0 none;
				padding-right: 12px;
				cursor: pointer;
				color: #fff;
				font-style: normal;
				text-decoration: none;
				}
			
		}		
		th.sqre	{
			width: 88px;
		}		
		th.riltr	{
			border-right: 1px solid #b7d448;
		}
	.headertr,
	.headertr:hover{
		background: url(asset-path('search_bg.png'));	
		border: 0px none;
	}		
		tr{
			border: 1px solid #D5D5D5;
		}
  	td
  	{
			background: none repeat scroll 0 0 #FFFFFF;
			border-left: 1px solid #D5D5D5;
			color: #696969;
			font: 13px/40px Arial;
			padding: 6px;
			text-align: center;
			vertical-align: middle;
			line-height: 20px;
      a
      {
		color: #696969 !important;
		font: 13px Arial !important;
       text-decoration: underline; 
      }     
	.rieltor_show:hover,
	a:hover{
		color: #299a3f !important;
	}	
  	}
	.rieltor_show:hover{
		color: #299a3f !important;
	}	
	
		tr:hover{
			border: 1px solid #299a3f;
				td{
					background: #e9f5eb;
					border-top: 1px solid #299a3f;		
				}
				p.grey_photo
     		{
     			background: url(asset-path('green_photo.png')) no-repeat;
     		}  	
				td:first-child{
					border-left: 1px solid #299a3f;				
				}
		}
	
    .rieltor_show
     {
      text-decoration: underline; 
      cursor: pointer; 
     }
     p.grey_photo
     {
     	background: url(asset-path('gray_photo.png')) no-repeat;
     	background-size: 20px 18px;
     	display: block;
     	width: 20px;
     	height: 18px;   
     	margin-left: 25%;
     	margin-top: 30%;

     }
  }
  .personal_detail
  {
    display: none;
    position: absolute;
    left: 1px;
    width: 510px;   
	  padding: 40px 45px 50px;
		border-radius: 3px 3px 3px 3px;
		-moz-border-radius: 3px 3px 3px 3px;
		-webkit-border-radius: 3px 3px 3px 3px;
		-o-border-radius: 3px 3px 3px 3px;
	
	
    background: #fff;
    box-shadow: 0 0 100px #ccc;
    -moz-box-shadow: 0 0 100px #ccc;
    -webkit-box-shadow: 0 0 100px #ccc;
    -o-box-shadow: 0 0 100px #ccc;
    -ms-box-shadow: 0 0 100px #ccc;
    z-index: 1;
	height: auto;
	overflow: hidden;
	
		#close
		{
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
		}
    .avatar
    {
	   background: url(asset-path("PDavatar.png")) no-repeat scroll 0 0 transparent;
		float: left;
		height: 144px;
		overflow: hidden;
		padding: 3px 3px 2px;
		position: relative;
		width: 142px;
		z-index: 2;
		 img
		{
		 position: relative;
			width: 142px;
			z-index: 1;
			height: 144px;
		}    
    }
    .informations
    {
		margin-left: 57px;
		float: left;
		width: 305px;
		font-family: "Arial";
		.fio
      {
		   color: #299A3F;
			font-size: 20px;
			margin-bottom: 9px;
			margin-top: 7px;
      }
      .position
      {
        color: #878787;
        font-size: 16px;
        margin-bottom: 33px;
      }
      .phone
      {
		color: #2C2C2C;
		font-size: 16px;
		margin-bottom: 12px;
		padding-left: 28px;
	   background: url(asset-path("PDcont.png")) no-repeat scroll 0 0 transparent;		
      }
      .email
      {
        font-size: 16px;
        text-decoration: underline;
        color: #2c2c2c;
		padding-left: 28px;		
	   background: url(asset-path("PDcont.png")) no-repeat scroll 0 -30px transparent;		
      }
    }
  }
}