.top_banners
{
	ul
	{
		list-style: decimal;
		li
		{
			font-size: 18px;			
			margin-bottom: 15px;
			img
			{
				margin-right: 10px;
			}
		}
	}
	.new,.edit
	{
		.field
		{
			label
			{
				font-size: 16px;
				font-weight: bold;				
			}
			input[type=text]
			{
				height: 33px;
				width: 75%;
			}
			input[type=checkbox]
			{
				float: left;
				margin-right: 10px;
			}
		}
	}
}