.users_request
{
	background: url(asset-path('search_bg.png'));
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	ms-border-radius: 5px 5px 5px 5px;
    font-family: arial;
    padding: 30px 32px;
    width: 627px;
	
	form
	{
		margin-bottom: 5px;
	}		
	.block
	{	
		height: auto;
		overflow: hidden;
		clear: both;	
		label
		{
			color: #FFFFFF;
			float: left;
			line-height: 35px;
			margin-bottom: 0;
			width: 95px;
		}
		input[type=text]
		{
			border: 2px solid #FFFFFF;
			color: #00923F;
			margin-bottom: 15px;
			margin-top: 2px;
			width: 245px;
			box-shadow: none;
			float: left;
		}
		input[type=text]:focus
		{
			border: 2px solid #00923f;
		}		
		span{
			float: left;
			font-size: 25px; 
			line-height: 50px;
			color: rgb(255, 255, 255); 
			margin-left: 8px; 
		}		
		span.ta{
			line-height: 23px;
		}		
		span.ic{
			line-height: 74px;
		}
		.add_file
		{
		  height: auto;
			margin-top: 16px;
			overflow: hidden;
			width: 575px;
			.file_wrap   	{    	
				background: linear-gradient(#f2f2f2, #d5d5d5);
				background: -moz-linear-gradient(#f2f2f2, #d5d5d5);
				background: -webkit-linear-gradient(#f2f2f2, #d5d5d5);
				background: -o-linear-gradient(#f2f2f2, #d5d5d5);
				background: -ms-linear-gradient(#f2f2f2, #d5d5d5);
				background: ms-linear-gradient(#f2f2f2, #d5d5d5);
				border: medium none;
				
				border-radius: 2px 2px 2px 2px;
				-moz-border-radius: 2px 2px 2px 2px;
				-webkit-border-radius: 2px 2px 2px 2px;
				-o-border-radius: 2px 2px 2px 2px;
				-ms-border-radius: 2px 2px 2px 2px;
				ms-border-radius: 2px 2px 2px 2px;
				
				box-shadow: 0 0 2px #828282;
				-moz-box-shadow: 0 0 2px #828282;
				-webkit-box-shadow: 0 0 2px #828282;
				-o-box-shadow: 0 0 2px #828282;
				-ms-box-shadow: 0 0 2px #828282;
				ms-box-shadow: 0 0 2px #828282;
				
				height: 34px;
				margin-top: 2px;
				float: left;
				width: 190px;
				text-align: center;
				overflow: hidden;
				position: relative;
					span{
						color: #1c8230;
						font: 14px/34px Arial;				
						float: none;
						margin: 0;
					}
				
			}  
			input[type=file] 	{
				   border: 0 none;
					cursor: pointer;
					font-size: 19px;
					height: 55px;
					opacity: 0;
					padding: 0 !important;
					position: absolute;
					right: 0;
					top: 0;
			}			
		}
		.mes
    {
   color: #FFFFFF;
    float: left;
    font-size: 13px;
    line-height: 20px;
    margin-left: 20px;
    width: 260px;
    }
	.sep{
		background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
		clear: both;
		float: right;
		height: 1px;
		margin-bottom: 15px;
		margin-top: 24px;
		width: 481px;
	}
		.simple_captcha .simple_captcha_field, .simple_captcha .simple_captcha_image {
			border: 0 none;
			margin: 0;
			padding: 0;
		}
		
		.simple_captcha {
			border: 0 none;
			display: block;
			float: left;
			height: 45px;
			margin-left: 95px;
			margin-top: 15px;
			padding: 0 !important;
			position: relative;
			width: 482px;
		}
		.simple_captcha_label {
			color: #FFFFFF;
			display: block;
			font-size: 14px !important;
			left: 0;
			line-height: 18px;
			position: absolute;
			text-align: left;
			top: 0;
			width: 200px;
		}	
		.simple_captcha_image{
				border: 0 none;
				height: 45px;
				left: 212px;
				position: absolute;
				top: -4px;
				width: 100px;

				img{
				width: 100px !important;
				height: 45px;			
				border: 0 none;
				}
		}
		.simple_captcha_field{
				background: url(asset-path("whiteArrowh.png")) no-repeat scroll 0 10px transparent;
				display: block;
				padding-left: 25px !important;
				position: absolute;
				right: 3px;

			input{
				width: 128px !important;
				background: #ffffff;
				font-size: 14px;
				margin-bottom: 0 !important;
			}
		}
		
		#recaptcha_widget_div
		{
			text-align: center;

		}
		textarea
		{
				box-shadow:  none;
			   border: 2px solid #FFFFFF;
				float: left;
				height: 172px;
				width: 480px;
				resize: none;
		}		
		.arenda, .buy
		{
			border: 0;
			background: #299A40;
			color: #69BF42;
			position: relative;
			z-index: 1;
			
			 border-radius: 3px 3px 3px 3px;
			 -moz-border-radius: 3px 3px 3px 3px;
			 -webkit-border-radius: 3px 3px 3px 3px;
			 -o-border-radius: 3px 3px 3px 3px;
			 -ms-border-radius: 3px 3px 3px 3px;
			 ms-border-radius: 3px 3px 3px 3px;
			 
			 
			 box-shadow: 0 2px 5px -1px #207630 inset;
			 -moz-box-shadow: 0 2px 5px -1px #207630 inset;
			 -webkit-box-shadow: 0 2px 5px -1px #207630 inset;
			 -o-box-shadow: 0 2px 5px -1px #207630 inset;
			 -ms-box-shadow: 0 2px 5px -1px #207630 inset;
			 ms-box-shadow: 0 2px 5px -1px #207630 inset;

				font-size: 18px;
				font-style: italic;
				height: 32px;
				padding: 0 20px;
		}
			.buy{
			margin-left: -6px;
		}	
		.checked
		{
			background: url(asset-path('buttons_bg.png'));
			 box-shadow: 0 0 1px #828282;
			 -moz-box-shadow: 0 0 1px #828282;
			 -webkit-box-shadow: 0 0 1px #828282;
			 -o-box-shadow: 0 0 1px #828282;
			 -ms-box-shadow: 0 0 1px #828282;
			 ms-box-shadow: 0 0 1px #828282;
			 
			color: #1B812E;	

			z-index: 2;	
		}		
	}	
	.block.ab{
		margin-left: 95px;
		margin-bottom: 17px;
	}
	.submit
	{
	   background: url(asset-path("buttons_bg.png")) repeat-x scroll 0 bottom #FFFD00;
		border: medium none;
		border-radius: 2px 2px 2px 2px;
		-moz-border-radius: 2px 2px 2px 2px;
		-webkit-border-radius: 2px 2px 2px 2px;
		-o-border-radius: 2px 2px 2px 2px;
		-ms-border-radius: 2px 2px 2px 2px;
		ms-border-radius: 2px 2px 2px 2px;
		
		box-shadow: 0 0 2px #828282;
		-moz-box-shadow: 0 0 2px #828282;
		-webkit-box-shadow: 0 0 2px #828282;
		-o-box-shadow: 0 0 2px #828282;
		-ms-box-shadow: 0 0 2px #828282;
		ms-box-shadow: 0 0 2px #828282;
		
		color: #3A8B2E;
		font-family: georgia;
		font-size: 18px;
		font-style: italic;
		height: 38px;
		margin-left: 97px;
		margin-top: 8px;
		text-shadow: 1px 0 1px #FFFFFF;
		width: 247px;
	}

}