.yamail
{		
	.logo
	{
	  position: relative;
		left: 45%;
		top: 10px;
		width: 189px;
	}
	form
	{

		width: 50%;
		text-align: center;
		background: #fcfcfd url(asset-path('form-bg.gif')) repeat-x;
		margin: 0 auto;
		margin-top: 20px;
		height: 300px;
		box-shadow: 0 10px 30px #828282;
		.label
		{
			background: transparent;
			color: #000;
			font-size: 12px;
			color: #828282;
			font-weight: normal;
		}
		input[type=text], input[type=password]
		{
			height: 33px;
			width: 60%;
			border: 1px solid #ccc;
			border-radius: 0;
		}
		input[type=checkbox]
		{
			margin-right: 10px;
			margin-top: 0;
		}
		input[type=submit]
		{
			width: 100px;
			height: 35px;
			font-size: 25px;
		}
	}
}