td
 .field
  =f.label :structure_type
  =f.select :structure_type, getType
 .field.rooms
  =f.label :rooms_count
  =f.text_field :rooms_count, style: "width: 60px"
 / .field
 /  =f.label :min_square
 /  =f.text_field :min_square, style: "width: 60px"
 /  span м<sup>2</sup>
 / .field
 /  =f.label :max_price
 /  =f.text_field :max_price, style: "width: 100px"
 /  span руб.
td
 / .field
 /  =f.label :floor
 /  =f.select :floor, getFloor
 / .field
 /  =f.label :material
 /  =f.select :material, getMaterial 
 / .field
 /  =f.label :balkon 
 /  =f.radio_button :balkon, 1
 /  =label_tag :client_request_balkon_1, 'Важно', class: "check_radio_box_labels"
 /  =f.radio_button :balkon, 0
 /  =label_tag :client_request_balkon_0, 'Нет', class: "check_radio_box_labels"
 / .field
 /  =f.label :parking 
 /  =f.radio_button :parking, 1
 /  =label_tag :client_request_parking_1, 'Важно', class: "check_radio_box_labels"
 /  =f.radio_button :parking, 0
 /  =label_tag :client_request_parking_0, 'Нет', class: "check_radio_box_labels"  
 .field
  =f.label :comment, "Коментарий"
  =f.text_area :comment
coffee:
 $(document).on 'change', '#client_request_structure_type', ->
  if @.value == 'Комнаты' || @.value == 'Зем. участки' || @.value == 'Гаражи'
   $('.rooms').hide()
  else
   $('.rooms').show() 
