td 
 .field
  =f.label :personal_id
  =f.select :personal_id, @personals || []
 .field
  =f.label :sale_object_id
  =f.select :sale_object_id, options_for_select(@objects.order("street ASC").collect { |object| ["#{object.structure_type} #{object.street_type} #{object.street} #{object.object_type} #{object.object}#{object.letter} #{object.block_type unless object.block.blank? } #{object.block}", object.id,{id: object.personal_id}] })
td
 .field
  =f.label :date_reg
  =f.date_field :date_reg