td
 .field
  =f.label :region
  =f.select :region, @regions || []
 .field  
  =f.select :locality_type,getLocalityType,{},style: "width: 23%; margin-right: 31px;"
  =f.text_field :locality
td  
 .field
  =f.label :district
  =f.select :district, @districts || []
 .field
  =f.label :station_metro
  =f.text_field :station_metro
/ td
/  .field
/   =f.label :area  
/   =f.select :area,getAreas