.title Создание и редактирование проспектов
=content_for :links do
 p=link_to "Назад", admin_path
 br
 p=link_to "Добавить", new_client_request_path 
 br 
 p=link_to "Проспекты без привязки к объекту", client_request_without_objects_path   
#find
 p#find_link Найти
 =form_for :filter, url: {action: :load_request} do |f|
  .field
   =f.label :from, "С:", style: "font-size: 14px;font-weight: bold; width: 65px;display: inline-block; "
   =f.date_field :from, style: "width: 130px;"
 
   =f.label :to, "По:", style: "font-size: 14px;font-weight: bold; width: 130px;display: inline-block; margin-left: 55px;"
   =f.date_field :to,  style: "width: 130px;" 
  .field
   =f.label :type, "Тип", style: "font-size: 14px;font-weight: bold; width: 65px;display: inline-block;"
   =f.select :type, getType, {prompt: "Все"},  style: "width: 170px;" 
 
   =f.label :rooms_count, "Кол-во комнат", style: "font-size: 14px;font-weight: bold; width: 130px;display: inline-block; margin-left: 16px;" 
   =f.select :rooms_count, [1,2,3,4,5],  {prompt: "Все"},  style: "width: 60px;" 
  .field
   =f.label :status, "Статус", style: "font-size: 14px;font-weight: bold; width: 65px;display: inline-block;" 
   =f.select :status, {"Обратившиеся" => 1, "Текущие проспекты" => 2, "Бывшие проспекты" => [3,4,5]},  {prompt: "Все"},  style: "width: 170px;" 
 
   =f.label :rieltor, "Риэлтор", style: "font-size: 14px;font-weight: bold; width: 130px;display: inline-block; margin-left: 16px;" 
   =f.select :rieltor, @personals || [], {prompt: "Все"},  style: "width: 320px;"
  .submit
   =f.submit "Найти"  
.count= "Найдено проспектов: #{@count}"  
-i = 1
table.client_request_index 
 tr
  / th №
  th Телефон
  th ФИО
  th Дата
  / th Агент
  / th Способ
  th Тип
  th Комнат
  / th кв. м
  / th Цена
  / th Финанс.
  / th Ст. метро/район
  th Риэлтор
  th Начальный объект
 -@client_requests.each do |clients_request|
  tr
   / td= i +=1
   td= clients_request.client.phone unless clients_request.status == 2
   td= link_to "#{clients_request.client.name}", edit_client_request_path(clients_request)
   td= clients_request.created_at.strftime("%d.%m.%Y")   
   / td= clients_request.agent ? "Да" : "Нет"
   / td= getClientRequestStatusName clients_request.status
   td= clients_request.structure_type
   td= clients_request.rooms_count
   / td= clients_request.min_square
   / td= number_to_currency clients_request.max_price
   / td= clients_request.financing
   / td= clients_request.station_metro
   td= "#{clients_request.personal.sename} #{clients_request.personal.name}"
   td= getAdressString clients_request.sale_object unless clients_request.sale_object.nil? 