.title Добавление нового проспекта
=content_for :links do
 p=link_to "Назад", client_requests_path
 br
 p=link_to "Сохранить", "#", onclick: "$('form').submit()"
 / p id="check_phone" Проверить телефон 
 / p id="check_phone_message"
=render 'error_messages'  
=form_for @client_request do |f|
 table.client_requests class="table"
  tr     
   =render partial: "block_1", locals: {f: f}
  tr 
   td.block_head colspan=2 Персональные данные       
  tr 
   =render partial: "block_2", locals: { f: f } 
  tr 
  /  td.block_head colspan=2 Местоположение
  / tr
  /  =render partial: "block_3", locals: { f: f }   
  tr 
   td.block_head colspan=2 Параметры
  tr
   =render partial: "block_4", locals: { f: f }  