.title Редактирование региона
=content_for :links do
 p=link_to "Назад", regions_path
 br
 p=link_to "Сохранить", "#", onclick: "$('form').submit()" 
 br 
 p=link_to "Добавить районы", new_district_path(region_id: @region.id) 
=form_for @region do |f| 
 .field
  =f.label :name
  =f.text_field :name, style:"width: 40%"