.title Регионы
=content_for :links do
 p=link_to "Назад", admin_path
 br
 p=link_to "Добавить", new_region_path
ul style="list-style: decimal"
 -@regions.each do |region|  
  li
   =link_to region.name, edit_region_path(region)
   span
    =link_to " #{delete}".html_safe, region, method: :delete, confirm: "Удалить?"
   