-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .current_page Тест

.left_block
 .test
  =render "test_errors"
  .title Тест: «Карьера в недвижимости»
  p Карьерный рост, дружный коллектив, высокий доход… Мечта? РЕАЛЬНОСТЬ! Девиз нашего агентства: «Все меняется. К лучшему!» Не бойтесь изменить свою жизнь!
  p Что же нужно, чтобы сделать карьеру в недвижимости?  
  p Для начала — ответить на несколько несложных вопросов:
  =form_for @test do |f|
   .field
    =f.label :question1, "№ 1. Вам нравится общаться с людьми?"
    =f.select :question1, {"да" => 2,"не знаю" => 1, "нет" => 0}
   .field
    =f.label :question2, "№ 2. Клиент выбирает между несколькими агентами. Как побудить его работать именно с Вами?"
    =f.select :question2, {"позвонить по телефону" => 1,"написать обстоятельное письмо на электронную почту" => 0, "личная встреча" => 2}
   .field
    =f.label :question3, "№ 3. Вам предстоит сообщить вашему клиенту неприятную новость. Скорее всего после звонка клиент наговорит Вам неприятные вещи и откажется с Вами работать. Ваши действия?"
    =f.select :question3, {"позвоню и если есть моя вина, извинюсь" => 2,"не буду ничего сообщать, поскольку нет смысла" => 0, "напишу смс или e-mail" => 1}
   .field
    =f.label :question4, "№ 4. Вы легко убеждаете других людей в своей точке зрения, когда Вам это нужно?"
    =f.select :question4, {"нет" => 0,"да" => 2, "не знаю" => 1}
   .field
    =f.label :question5, "№ 5. У вас поставлена речь?"
    =f.select :question5, {"не знаю" => 1,"да" => 2, "нет" => 0}
   .field
    =f.label :question6, "№ 6. На перспективу ближайшего года Вас устроит средний заработок"
    =f.select :question6, {"10- 15 тыс. рублей в месяц" => 0,"хотя бы 30 тыс. рублей в месяц" => 1, "не менее 50 тыс. руб." => 2}
   h4 Введите свои данные 
   .field
    =f.label :fio, "ФИО"    
    =f.text_field :fio, class: 'fio'
    span *
   .field
    =f.label :email, "Email"
    =f.text_field :email, class: 'email'  
    span *
   .field
    =f.label :phone, "Телефон"
    =f.text_field :phone, class: 'phone'
    span *
   .field
    =button_tag "Ответить"