=form_for :consultant_form, url:{action: :consultant, controller: :sites}, remote: true  do |f|
 .field 
  =f.text_field :name, required: true
  =f.label :name, "Ваше имя:"
 .field
  =f.email_field :email, required: true
  =f.label :email, "Ваш E-mail:"
 .field
  =f.text_area :question, rows: 1, required: true
  =f.label :question, "Ваш вопрос:"  
 =f.submit "Отправить",class: "submit", id: "send"
 .arrow
  .text id="consult_close"
   |Спасибо, у меня 
   br
   |нет вопросов
  =image_tag "consultant_arrow.png", class: "arrow_img"