.persona data-fio="#{personal.sename} #{personal.name}" data-position="#{getPositionName personal.position}" data-phone="#{personal.job_phone}" data-email="#{personal.email}" data-image= "#{personal.avatar_url}" data-birthday= "#{personal.birthday.day if birthday?(personal.id)}"
 .avatar
  =image_tag(personal.avatar_url(:thumb)) if personal.avatar?
  .birthday=getBirthday personal.id
  .avatar_brd
 .fio
  ="#{personal.sename} #{getInichials personal.name}" 
