.question_answer
 .question_wrap
  .question
   .qavatar=image_tag "question_avatar.png"
   .qtext
    .qname=question.name
    .qdate=Russian::strftime(question.created_at, "%d %B %Y, %H:%M")
    p =question.question
 -unless question.answer.nil?
  .answer
   .qavatar=image_tag "answer_avatar.png"  
   .qtext	
    .qname Специалист «КИРШ»
    .qdate=Russian::strftime(question.answer.created_at, "%d %B %Y, %H:%M") 
    =question.answer.answer.html_safe 