tr
 td= object_counter +=1
 td.photo_logo= "<p class='grey_photo'></p>".html_safe if object.photos.any?
 td= link_to  getAdressStringSite(object), object_detail_site_path(object)
 td= object.structure_type
 td= object.rooms_count
 td= object.general_square
 td.rieltor_show data-fio="#{object.personal.sename} #{object.personal.name}" data-position="#{getPositionName object.personal.position}" data-phone="#{object.personal.job_phone}" data-email="#{object.personal.email}" data-image= "#{object.personal.avatar_url if object.personal.avatar?}"= "#{object.personal.sename} #{getInichials object.personal.name}"
