.search
 =form_for :search_form, url: {action: :search_request} do |f|
  #row1
   .block
    .custom_arrow     
     -if params[:search_form].nil?
      -select = 1
     -else
      -unless params[:search_form][:request_type].nil?
       -select = params[:search_form][:request_type]
      -else
       -select = 1 
     =f.select :request_type,{'Жилые объекты ' => 1, 'Коммерческая' => 2}, {selected: select}, {class: 'offer', id: 'request_type'}
   .block
    .custom_arrow
     -if params[:search_form].nil?
      -select = 'Пенза'
     -else
      -select = params[:search_form][:region]
     =f.select :region, @regions, {selected: select}
   .block.commerc
    .custom_arrow
     -unless params[:search_form].nil?
      -select = params[:search_form][:district]
     =f.select :district, @districts, {prompt: "Район",selected: select }, {class: 'commerc_district'}
  .clearer
  hr
  #row2
   .block
    =f.label :object, "Тип объекта"
    .custom_arrow
     -unless params[:search_form].nil?
      -select = params[:search_form][:object]      
     =f.select :object , getTypeLived, {selected: select},{data:{commerc: getTypeCommercString, lived: getTypeLivedString, selected: select}}
   .block.lived
    =f.label :district, "Район"
    .custom_arrow
     -unless params[:search_form].nil?
      -select = params[:search_form][:district]
     =f.select :district, @districts, {prompt: "Любой",selected: select}, { class: 'lived_district'}

   .block.lived.street
    =f.label :street, "Улица"
    .custom_arrow
     -unless params[:search_form].nil?
      -select = params[:search_form][:street]
     =f.select :street, @streets, {prompt: "Любая", selected: select}
  .clearer
  -room1 = false
  -room2 = false
  -room3 = false
  -room4 = false
  -room5 = false
  -room6 = false
  -room7 = false
  -room8 = false
  -room9 = false
  -room10 = false
  -new_old1 = false
  -new_old2 = false
  -unless params[:search_form].nil?
   -unless params[:search_form][:rooms].nil?
    -params[:search_form][:rooms].each do |val|
     -case val
      -when '1' then room1 = true
      -when '2' then room2 = true
      -when '3' then room3 = true
      -when '4' then room4 = true
      -when '5' then room5 = true
      -when '6' then room6 = true
      -when '7' then room7 = true
      -when '8' then room8 = true
      -when '9' then room9 = true
      -when '10' then room10 = true
  -unless params[:search_form].nil?
   -unless params[:search_form][:new_old].nil?
    -params[:search_form][:new_old].each do |val|
     -case val
      -when '0' then new_old1 = true
      -when '1' then new_old2 = true

  #row3
   .rooms
    =label_tag '1', {class: "custom-radio"}
     =f.check_box :rooms,{ id: 1,  checked: room1, multiple: true }, '1',nil
     div
      img.galka src=''
     |1
    =label_tag '2', {class: "custom-radio"}
     =f.check_box :rooms,{id: 2, checked: room2, multiple: true}, '2',nil
     div
      img.galka src=''
     |2
    =label_tag '3', {class: "custom-radio"}
     =f.check_box :rooms,{id: 3, checked: room3, multiple: true}, '3',nil
     div
      img.galka src=''
     |3
    =label_tag '4', {class: "custom-radio"}
     =f.check_box :rooms,{id: 4, checked: room4, multiple: true}, '4',nil
     div
      img.galka src=''
     |4+ комнаят
    =f.check_box :rooms,{id: 5, checked: room5, multiple: true, style: 'display: none'}, '5',nil
    =f.check_box :rooms,{id: 6, checked: room6, multiple: true, style: 'display: none'}, '6',nil
    =f.check_box :rooms,{id: 7, checked: room7, multiple: true, style: 'display: none'}, '7',nil
    =f.check_box :rooms,{id: 8, checked: room8, multiple: true, style: 'display: none'}, '8',nil
    =f.check_box :rooms,{id: 9, checked: room9, multiple: true, style: 'display: none'}, '9',nil
    =f.check_box :rooms,{id: 10, checked: room10, multiple: true, style: 'display: none'}, '10',nil
   .new_or_secondhands
    =label_tag 'old', {class: "custom-radio"}
     =f.check_box :new_old, {id: 'old', checked: new_old1, multiple: true}, '0', nil
     div
      img.galka src=''
     |Вторичка
    =label_tag 'new', {class: "custom-radio"}
     =f.check_box :new_old, {id: 'new', checked: new_old2, multiple: true}, '1', nil
     div
      img.galka src=''
     |Новострой
  .clearer
  hr
  #row4
   .block class='square_block'
    -unless params[:search_form].nil?
     -square_from = params[:search_form][:square_from]
     -square_to = params[:search_form][:square_to]
     -price_from = params[:search_form][:price_from]
     -price_to = params[:search_form][:price_to]
    =f.label :square_from, "Площадь. кв.м"
    =f.text_field :square_from, value: square_from || getMinSquare
    span-
    =f.text_field :square_to, value: square_to || getMaxSquare
   .block class='price_block'
    =f.label :price_from, "Цена. руб."
    =f.text_field :price_from, value: price_from || getMinPrice
    span-
    =f.text_field :price_to, value: price_to || getMaxPrice
  .clearer
  hr
   =f.submit "Начать поиск", id: 'param_submit'
   =hidden_field_tag 'search_form[sort]', 'asc'
   =hidden_field_tag 'search_form[field_sort]', 'street'
coffee:
 $(document).on "page:load ready",  ->
  if(/Firefox|Opera/i.test(navigator.userAgent)) 
   $('.custom_arrow').addClass('ff')
   $('.custom_arrow select').addClass('ff_select')  
  rooms = $('.rooms #1, .rooms #2, .rooms #3, .rooms #4 ')
  new_or_secondhands = $('.new_or_secondhands input')
  if $("#search_form_object").val() != 'Квартиры'
   $('.rooms').hide()
  $(rooms).each (i,v) ->   
   if $(v).is( ":checked" )
    $(v).parent().find('.galka').attr('src','/assets/galka.png')
   else
    $(v).parent().find('.galka').attr('src','')
  $(new_or_secondhands).each (i,v) ->
   if $(v).is( ":checked" )
    $(v).parent().find('.galka').attr('src','/assets/galka.png')
   else
    $(v).parent().find('.galka').attr('src','')
  commerc = $('#search_form_object').data('commerc') 
  select = $('#search_form_object')
  
  if (parseInt($('#request_type').val()) == 2)   
   $('.commerc').show()
   $('.lived, #row3').hide()
   selected = $('#search_form_object').data('selected') 
   commerc = commerc.split(',')
   select.html('')
   $(commerc).each (i, v) ->    
    select.append($("<option>", { value: v, html: v }))    
   select.css('width','350px')
   select.parent().css('width','350px')
   select.parent().css('background-position-x','325px')  
   $("#my_select :contains('two')").attr("selected", "selected");
   select.find("option:contains('"+selected+"')").attr("selected", "selected");
   $('.lived_district').attr("disabled", true)
   $('.commerc_district').attr("disabled", false)
 $(document).on "change", "#request_type", ->
  commerc = $('#search_form_object').data('commerc')
  lived = $('#search_form_object').data('lived')
  select = $('#search_form_object')
  if (parseInt(@.value) == 2)
   $('.commerc').show()
   $('.lived, #row3').hide()
   commerc = commerc.split(',')
   select.html('')
   $(commerc).each (i, v) ->
    select.append($("<option>", { value: v, html: v }))
   select.css('width','350px')
   select.parent().css('width','350px')
   select.parent().css('background-position-x','325px')
   $('.lived_district').attr("disabled", true)
   $('.commerc_district').attr("disabled", false)
  if (parseInt(@.value) == 1)
   $('.commerc').hide()
   $('.lived, #row3').show()
   lived = lived.split(',')
   select.html('')
   $(lived).each (i, v) ->
    select.append($("<option>", { value: v, html: v }))
   select.css('width','195px')
   select.parent().css('width','195px')
   select.parent().css('background-position-x','170px')
   $('.lived_district').attr("disabled", false)
   $('.commerc_district').attr("disabled", true)
 #$(document).on "change", "#request_type", ->
 $(document).on "click", ".rooms #4", ->
  if $(@).is( ":checked" )
   $('.rooms #5, .rooms #6, .rooms #7, .rooms #8, .rooms #9, .rooms #10').attr('checked',true)
  else
   $('.rooms #5, .rooms #6, .rooms #7, .rooms #8, .rooms #9, .rooms #10').attr('checked',false)
 $(document).on 'change', '#search_form_region', ->
  request_type = $('#request_type').val() 
  if request_type == '1' && @.value != '1'
   $('.street').hide()
   $('#search_form_street').val('')
  else
   $('.street').show()