-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .current_page= @agent.nil? ? "" : @agent.title.mb_chars.capitalize
.left_block
 .franshisa 
  .title= @agent.nil? ? "" : @agent.title
  .desc= @agent.nil? ? "" : @agent.description.html_safe 