-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .nactive Услуги
 span &nbsp;
 .current_page= @buyout.nil? ? "" : @buyout.title.mb_chars.capitalize
.left_block
 .buyout 
  .title= @buyout.nil? ? "" : @buyout.title
  .desc= @buyout.nil? ? "" : @buyout.description.html_safe