-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .current_page Образцы документов
.left_block
 ul
  li=link_to "Договор дарения", '/dogovor/dogovor_dareniya.doc'
  li=link_to "Договор цессии", '/dogovor/dogovor_chessii.doc'
  li=link_to "Основной договор купли-продажи", '/dogovor/general_dogovor_kupli_prodazy.doc'
  li=link_to "Основной договор купли-продажи (банк Сбербанк)",'/dogovor/general_dogovor_kupli_prodazy_sbrf.doc'
  li=link_to "Основной договор купли-продажи (Материнский сертификат)",'/dogovor/general_dogovor_kupli_prodazy_mother_sertif.doc'


