-meta @id_page
.map_site
 .title Карта сайта
 -unless params[:action] == 'map_site_print'
  .print_version= link_to "Версия для печати", map_site_print_sites_path
 -else
  .print_version_cur= link_to "Печать", '#', onclick: "window.print()" 
 hr
 p=link_to "Главная", root_path
 p=link_to "О компании", about_sites_path
 p Услуги
 ul
  li=link_to "В продаже", search_sites_path(status: 3), id: "sl1"
  li=link_to "В аренду", search_sites_path(status: 4), id: "sl2"
  li=link_to "Оставить заявку", request_user_sites_path, id: "sl3"
  li=link_to "Заявка на размещение объявления", request_advert_sites_path, id: "sl6"
  li=link_to "Займы под залог недвижимости", zalog_sites_path, id: "sl4"
  li=link_to "Срочный выкуп недвижимости", buyout_sites_path, id: "sl5" 
 p Партнерам 
 ul
  li=link_to "Застройщикам", developer_sites_path, id: "pl1"
  li=link_to "Кредитным организациям", kredit_sites_path, id: "pl2"
  li=link_to "Агенствам недвижимости", agents_sites_path, id: "pl3"
  li=link_to "Собственникам коммерческой недвижимости", owner_komerch_sites_path, id: "pl4"
 p=link_to "Вопрос-ответ", question_answer_sites_path
 p=link_to "Новости", news_on_sites_path
 p=link_to "Контакты", contacts_sites_path