-meta @id_page
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 =link_to "Услуги", search_sites_path
 span &nbsp;
 .current_page= "#{@sale_object.street_type} #{@sale_object.street} #{@sale_object.object_type} #{@sale_object.object}"
.object_detail
 .object_title
  h3
   span="#{@sale_object.structure_type} на продажу:" 
   =" #{@sale_object.street_type} #{@sale_object.street}, #{@sale_object.object_type} #{@sale_object.object}"
   -unless params[:action] == 'print'
    .print_version= link_to "Версия для печати", print_site_path(@sale_object.id) 
   -else
    .print_version= link_to "Печать", '#', onclick: "window.print()"
 .left  
  .title Характеристики
  .line
   .label_detail
    span Район
   .value= @sale_object.district
  .line
   .label_detail
    span Комнат
   .value= @sale_object.rooms_count
  .line
   .label_detail
    span Общая площадь (м<sup>2</sup>)
   .value= @sale_object.general_square
  .line
   .label_detail
    span Жилая площадь (м<sup>2</sup>)
   .value= @sale_object.live_square
  .line
   .label_detail
    span Кухня (м<sup>2</sup>)
   .value= @sale_object.kittchen_square
  .line
   .label_detail
    span Санузел
   .value= @sale_object.sanysel
  .line
   .label_detail
    span Конструкция
   .value= @sale_object.material
  .line
   .label_detail
    span Состояние
   .value= @sale_object.state
  .line
   .label_detail
    span Этажность
   .value= "#{@sale_object.floor} из #{@sale_object.all_floors}"
  .line
   .label_detail 
    span Телефон
   .value= @sale_object.phone_line ? "Есть" : "Нет"
  .extra_descr 
   .title Описание
   .desc=@sale_object.description 
 .right 
  -if @sale_object.photos.any?  
   -photo = @sale_object.photos.first.photo
   .photo_big
    =image_tag "/sale_objects/#{@sale_object.id.to_s}/medium_#{photo}", id: "photo_big" 
   .photos_mini
    ul.prettyGallery data-item_count=@sale_object.photos.count
     -@sale_object.photos.each do |photo|
      li= image_tag "/sale_objects/#{@sale_object.id.to_s}/small_#{photo.photo}", width: '86px', height: '86px', class: 'photo_mini'
 .clearer 
 .personal_detail 
  .title Контактная информация 
  .avatar
   =image_tag @sale_object.personal.avatar_url(:thumb_1) if @sale_object.personal.avatar?
  .informations
   .fio= "#{@sale_object.personal.sename} #{@sale_object.personal.name}"
   .position= getPositionName @sale_object.personal.position
   .phone=@sale_object.personal.job_phone
   .email=@sale_object.personal.email
