=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .current_page= @own_biznes.nil? ? "" : @own_biznes.title.mb_chars.capitalize
.left_block
 .own_bisnes
  .title= @own_biznes.nil? ? "" : @own_biznes.title
  .desc= @own_biznes.nil? ? "" : @own_biznes.description.html_safe 