-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 =link_to "Услуги", search_sites_path
 span &nbsp; 
 .current_page Подать заявку на размещение объявления
.left_block
 -unless @error.nil?
   #error_explanation    
    ul      
     li= @error
 .advert_request  
  =form_for :request_form, url: {action: :send_request_advert}  do |f|     
   .block 
    =f.label :fio, "Ваше имя:"
    =f.text_field :fio, required: true  
    span *
   .block
    =f.label :email, "E-mail:"
    =f.text_field :email
   .block
    =f.label :phone, "Телефон:"
    =f.text_field :phone, required: true  
    span *
   .block
    =f.label :text, "Текст объявления:"
    =f.text_area :text, cols:  60, rows: 10, maxlength: 100, required: true  
	  span.ta *   
   .block align="center"    
    =show_simple_captcha(label: "Введите текст с изображения в текстовое поле:", image_style: "simply_green")
    span.ic *
   =f.submit 'Отправить заявку', class: "submit"