-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 =link_to "Услуги", search_sites_path
 span &nbsp;
 .current_page
  =case params[:status]
   -when '3' then 'На продажу'
   -when '4' then 'В аренду'
   -when '5' then 'Под авансом'
   -else 'На продажу'
.left_block
 .search_page
  =render "search_service"
  / .type
  /  .sale_but= link_to "На продажу", search_sites_path(status: 3)
  /  .arenda_but= link_to "В аренду", search_sites_path(status: 4)
  /  .avans_but= link_to "Под авансом", search_sites_path(status: 5)
  table
   tr.headertr
    th.num
	   span №
    th.photo
	   span Фото
    th.adrs class="#{@sort}C"
	   span.adres Адрес
    th.tip
	   span Тип
    th.kmnt class="#{@sort}C"
	   span.rooms_count Комнат
    th.sqre
	   span Площадь
    th.riltr
	   span Риэлтор
   -i=1
   =render partial: 'row', collection: @objects, as: :object, locals: {number: i} if @objects.any?
  ="<br /><p>Если Вы не обнаружили интересующий Вас объект на нашем сайте, заполните <a href='/sites/request_user'>бланк заявки</a>, где нужно указать Ваши пожелания (район, улица, площадь, этаж, цена и т.д) и свои контактные данные. <br /> Консультант АН \"КИРШ\"  обязательно проанализирует рынок недвижимости и подберет для Вас лучший вариант.</p>".html_safe unless @objects.any?
  .personal_detail
   =image_tag "cross.png", id: "close"
   .avatar
    =image_tag ""
   .informations
    .fio
    .position
    .phone
    .email
coffee:
 $(document).on 'click', '.rooms_count', ->
  $('#search_form_field_sort').val('rooms_count')
  if $(@).parent().hasClass('ascC')
   $(@).parent().removeClass('ascC')
   $(@).parent().addClass('descC')
   $('#search_form_sort').val('desc')   
   $('form').submit()
  else
   $(@).parent().removeClass('descC')
   $(@).parent().addClass('ascC')
   $('#search_form_sort').val('asc')
   $('form').submit()
 $(document).on 'click', '.adres', ->
  $('#search_form_field_sort').val('street')
  if $(@).parent().hasClass('ascC')
   $(@).parent().removeClass('ascC')
   $(@).parent().addClass('descC')
   $('#search_form_sort').val('desc')
   $('form').submit()
  else
   $(@).parent().removeClass('descC')
   $(@).parent().addClass('ascC')
   $('#search_form_sort').val('asc')
   $('form').submit()