=content_for :baner do
 .banner 
  #container
   #slides
    .slides_container
     -@top_banners.each do |banner|      
      =link_to "#{image_tag banner.banner}".html_safe, banner.page_url, target: "_blank"
     / =link_to "#{image_tag 'slider/slider_2.jpg'}".html_safe, contacts_sites_path, target: "_blank"									
     / / =link_to "#{image_tag 'slider/slider_3.jpg'}".html_safe, about_sites_path, target: "_blank"
     / =link_to "#{image_tag 'slider/slider_4.jpg'}".html_safe, contacts_sites_path, target: "_blank"									     
     / =link_to "#{image_tag 'slider/slider_6.jpg'}".html_safe, search_sites_path(status: 3), target: "_blank"									
		
			