=link_to "О компании", about_sites_path
=link_to "Услуги", search_sites_path(status: 3)
=link_to "Партнерам", agents_sites_path
=link_to "Вопрос-ответ", question_answer_sites_path
=link_to "Новости", news_on_sites_path
=link_to "Контакты", contacts_sites_path