.offer
 =link_to (image_tag "/sale_objects/#{offer.id}/hot_#{offer.photos.first.photo}"), object_detail_site_path(offer) if offer.photos.any?
 .offer_title="#{offer.locality}, #{offer.street}, #{offer.object}"
 .desc=offer.description[0..80]