doctype 5
html
 head
  = metamagic
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  = favicon_link_tag 'logo.png'
 body
  =yield :dialog
  .head_line
    =image_tag 'head_line.png'
  .main
   .head
    .logo
     =link_to logo, root_path
    .adress
     =render "layouts/adress_block"
    //.service
    // =link_to home_service, root_path
    // =mail_to "center@kirsh.ru", email_service
    // =link_to site_map, map_site_sites_path
    .flat-question
  	 =link_to "", '/papers/site_index'
    .news
     .title
      span Новости
      =link_to "Все новости", news_on_sites_path
     =render partial: "layouts/news_lines", collection: getNews, as: :news
    .second_level
     .menu
      =render "layouts/menu_lines"
     =yield :baner
   .consultants
    =image_tag 'consultants.png', class: "slide_but", id: "slide_but"
    .body
     .consult_head
      =image_tag 'consultant_logo.png', class: "logo"
      .title
       |Здравствуйте!
       br
       |Консультанты с удовольствием
       br
       |ответят на Ваши вопросы!
     .consult_form
      =render 'sites/consultant_form'
   .content_site
    .breadcrambs
     =yield :breadcrambs
    .yield
     =yield
     =yield :right_block
   =yield :hot_offer
   .footer
    .footer_adress
     =render "layouts/footer_adress_block"
    .footer_urls
     =render "layouts/footer_menu_lines"
    .footer_social_buttons
     =render "layouts/social_buttons"
     =render "layouts/htdg"
javascript:
   // Yandex.Metrika counter
   (function (d, w, c) {
       (w[c] = w[c] || []).push(function() {
           try {
               w.yaCounter23167066 = new Ya.Metrika({id:23167066,
                       webvisor:true,
                       clickmap:true,
                       trackLinks:true,
                       accurateTrackBounce:true});
           } catch(e) { }
       });

       var n = d.getElementsByTagName("script")[0],
           s = d.createElement("script"),
           f = function () { n.parentNode.insertBefore(s, n); };
       s.type = "text/javascript";
       s.async = true;
       s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

       if (w.opera == "[object Opera]") {
           d.addEventListener("DOMContentLoaded", f, false);
       } else { f(); }
   })(document, window, "yandex_metrika_callbacks");
noscript
   div
    img src="//mc.yandex.ru/watch/23167066" style="position:absolute; left:-9999px;" alt=""
    /Yandex.Metrika counter
= debug params if Rails.env.development?
