doctype 5
html
 head  
  = metamagic
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true  
  = csrf_meta_tags 
  = favicon_link_tag 'logo.png' 
 body
  =yield